table {
    border-collapse: collapse;
    height: 200px;
}

th,
td {
    border: 1px solid black;
}

.table-with {
    width: 50px;
}

.th-one {
    width: 100px;
}

.th-two {
    width: 500px;
}

#col-two {
    color: red;
}